
<div class="left-panel">
	<h2 class="note-list-header"> Your Notes: </h2>
	<div>
		<button id="createNote" class="button create-delete-button" data-target="#createModal" data-toggle="modal"> Create </button>

		<button id="deleteNote" class="button  create-delete-button create-delete-button-right">Delete </button>
	</div>
</div>

<!-- NOTE SIDE -->
<div class="right-panel">
	<p> world </p>
</div>

